*{
    padding: 0px;
    margin: 0px;
    box-sizing: border-box;
    display: block;
}
body{
    font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', 'Geneva', 'Verdana', 'sans-serif';
}

button{
font-family: 'Franklin Gothic Medium', 'Arial Narrow', 'Arial', 'sans-serif';
background-color: #ff6b09;
background-image: linear-gradient(180deg, #fc8333 0%, #fa27c2 67%);
outline: none;

font-size:larger;

}
.button{
    text-align: right;
    vertical-align: top;
}
 
a{
    margin-right:600px;
}
#navbar {
    width: 100%;
    height :60px;
    display: flex;
    align-items: center;
    justify-content: space-evenly;
    /* margin-left: 100px; */
}
.gets{
   background-color: black;
    color: white;
    border:2px solid transparent;
    border-radius:30px;
    height: 30px;
    width:10rem;
    display: flex;
    justify-content: center;
    align-items: center;
    margin-right: 0px;
}


.gets1{
    background-color: #ff6b09;
background-image: linear-gradient(180deg, #fc8333 0%, #fa27c2 67%);
    color:black;
    border:2px solid transparent;
    border-radius:30px;
    height: 30px;
    width:135px;
    display: flex;
    justify-content: center;
    align-items: center;
    margin-top: 30px;
    margin:0px 0px 0px 142px;

}

.container {
    width: 1100px;
    max-width: 100%;
    margin: 0;
    position: relative;
    margin-left: 100px;
    display: flex;
    flex-direction: column;
    margin-top: 120px;
}

.content {
    margin: 80px 0px 20px 145px;
    font-size: large;
    
}

.c2 {
    
    background-size: cover;
    position: absolute;
    left: 20px; 
    top: 20px; 
    height: 230px;
}

 .row{
    display: flex;
    align-items: center;
    flex-wrap: wrap;
    justify-content: space-around;
 }

 .card {
    width: 300px; 
    height: 250px;
    border: 1px solid #ddd; 
    margin-top: 10px; 
    margin-bottom: 10px;
    margin-left: 7px;
    padding: 10px;
    box-sizing: border-box;
    border-radius: 15px;
  }
  .card1{
display: flex;
justify-content: center;
padding-top: 25px;
font-size: 30px;
 background-color: #ff6b09;
background-image: linear-gradient(180deg, #fc8333 0%, #fa27c2 67%);

color: white;

  }
  
  .card h2 {
    margin-bottom: 10px;
  }
  .card p {
    margin-bottom: 0;
  }

.header {
    position: absolute;
    top: 0;
    left: 0;
    margin: 10px;
    margin-left: 100px;
    margin-bottom: 500px;
}

.container{
    margin-left: 100px;
    position: relative;
}
.container2{
    margin-top:200px;
}
.txt{
    font-size: 20px;
}   



.icon{
    color:#ff25c4;
    display:absolute;
    bottom:5px;

    
}
.img{
    position: absolute;
    height: 640px;
    right: -326px;
    top: -179px;
    width:520px;
    

}

.icon2{
    background-color: #ff6b09;
background-image: linear-gradient(180deg, #fc8333 0%, #fa27c2 67%);
border-radius:60px;
}

.list:hover{
    background-color: #ff6b09;
    background-image: linear-gradient(180deg, #fc8333 0%, #fa27c2 67%);
    color:whitesmoke;
    outline: none;
    
   
}

.file:hover{
    background-color: #ff6b09;
    background-image: linear-gradient(180deg, #fc8333 0%, #fa27c2 67%);
    color:whitesmoke;
    outline: none;
    
   
}

.card2:hover{
    background-color: #ff6b09;
    background-image: linear-gradient(180deg, #fc8333 0%, #fa27c2 67%);
}

.button:hover{
    outline:none;
}


.card2{
    width: 300px; 
    height: 250px;
    border: 1px solid #ddd; 
    margin-top: 10px; 
    margin-bottom: 10px;
    margin-left: 7px;
    padding: 10px;
    box-sizing: border-box;
    border-radius: 15px;
    margin:0px 0px 0px 0px;

}

.footer {
    height: 280px;
    bottom: 0px;
    background-color: #343a40;
    color: white;
    padding: 20px 0;
    margin: 0px;
    text-align: center;
    display: flex;
    align-items: center;
    justify-content: center;
}

.footer p {
    margin-bottom: 10px;
}

.footer ul {
    list-style-type: none;
    padding: 0;
}

.footer li {
    display: inline-block;
    margin-right: 10px;
}

.footer a {
    color: white;
    margin: 0px;
    text-decoration: none;
    color:white;
}

.footer a:hover {
    text-decoration: underline;
}







/* Additional styles for responsiveness */
@media only screen and (  max-width: 900px) {
    .img {
      position: relative;
      height: 356px;
      width:fit-content;
      right: 0;
      top: 0;
      width: 100%;
      margin:0px 0px 70px 158px;
    }
  
    .container {
      margin-left: 20px;
      
    }

    .footer{
        width: 624px;
    }

    .card{
        width: 700px;
        margin: 0px -95px 0px 21px;
        padding-right: 0px;
        padding-left: 10px;
        font-size: larger;
    }

    .card2{
        width: 700px;
        margin: 0px -95px 0px 21px;
        padding-right: 0px;
        padding-left: 10px;
    }
.card1{
    font-size: 50px;
}

.gets{
    font-size: 32px;
     border-radius:0px;
     margin:28px 123px 0px 0px;
     border-width: 43px;
}

.description{
    margin: -551px 0px 459px 0px;
}



.gets1{
    margin:-425px 0px 123px 131px;
}

.main{
    margin:-120px 0px 170px 0px;
}



}
    
  
  
